<%= form_for(@check_out) do |f| %>
  <% if @check_out.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_out.errors.count, "error") %> prohibited this check_out from being saved:</h2>

      <ul>
      <% @check_out.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :invitation_id %><br>
    <%= f.number_field :invitation_id %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
